//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.page-template-template-home{
	.banner_container{
		background:#F5F5F5;
		.banner_content{
			height: 100%;
			margin: 0 auto;
			max-width: initial;
			padding: 0;
			position: relative;
			width: 100%;
			
			.slick-list {
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
				width: 100%;
				overflow:hidden;
			}
			
			.slick-track {
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
			}
			
			.slick-next{
				right:15px;
				background:url(../img/home/btn_slider_next.png) no-repeat;
			}
			
			.slick-prev{
				left:15px;
				z-index:999;
				background:url(../img/home/btn_slider_prev.png) no-repeat;
			}
			
			.slick-next, .slick-prev{
				width:23px;
				height:42px;
				background-size:contain;
				transform:translateY(-100%);
				&:before{
					content:""!important;
				}
			}
			
			.slick-dots{
				bottom:10%;
				
				li{
					width:25px;
					button{
						&:before{
							content:"";
							background:#fff;
							width:25px;
							height:4px;
							top: 50%;
						    transform: translateY(-50%);
						}
					}	
					
					&.slick-active{
						button{
							&:before{
								//color:#fff;
								background:#fff;
							}
						}
					}
				}
			}
			
			.banner_item{
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
				top: -50%!important;
				overflow:hidden;
				
				.video_mask{
					background:url(../img/mask_pattern.png) repeat; 
					position:absolute; 
					width:100%; 
					height:100%; 
					top:0; 
					left:0;
				}
				
				.banner_text{
					position:absolute;
					width:70%;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					color:#fff;
					
					.banner_content_type{
						display: none;					
					}
					
					.banner_content_text{
						position:relative;
						
						.text_title{
							h2{
								position:relative;
								font-size:40px;
								padding-bottom:40px;
								margin-bottom:40px;
								display:block;
								
								&:after{
									content:"";
									position:absolute;
									bottom:-10px;
									left:0;
									width:5%;
									min-width:100px;
									max-width:150px;
									height:8px;
									background:#fff;
								}
							}
						}
						
						.text_content{
							font-size:15px;
							.more_link{
								
							}
						}
					}
				}
				
				video{
					position:absolute;
					top: -99999px;
					bottom: -99999px;
					left: -99999px;
					right: -99999px;
					margin: auto;
					min-height:100%;
					min-width:50%;
				}
			}
		}
	}
	
	.home_content{
		position:relative;
		background:#fff;
	}
	
	.news_container{
		padding:40px 0 60px 0;
		background:#F5F5F5;
		.news_header{
			padding-bottom:30px;
			.news_title{
				padding:0 0 10px 0;
				h2{
					font-size:40px;
					padding-left:95px;
					position:relative;
					display:inline-block;
					margin:0;
					&:before{
						content:"";
						position:absolute;
						height:10px;
						width:80px;
						background:#000;
						top:50%;
						left:0;
						transform:translateY(-50%);
					}
				}
			}
			.news_category_wrapper{
				padding:0;
				.news_category{
					a{
						display:inline-block;
						color:#000;
						text-transform:uppercase;
						position:relative;
						
						&:hover{
							&:after{
								content:"";
								position:absolute;
								width:100%;
								height:2px;
								background:#370764;
								bottom:-3px;
								left:0;
							}
						}
					}
					
					span{
						display:inline-block;
						padding-right:30px;
						position:relative;
						&:after{
							position:absolute;
							content:"";
							top:50%;
							right:7px;
							width:15px;
							height:2px;
							background:#000;
							transform:translateY(-50%);
						}
					}
					
					ul{
						display:inline-block;
						padding:0;
						margin:0;
						position:relative;
						
						li{
							list-style:none;
							display:inline-block;
							margin-left:8px;
							padding-right:8px;
							position:relative;
							&:after{
								content:"";
								position:absolute;
								top:50%;
								right:0;
								width:1px;
								height:70%;
								background:#000;
								transform:translateY(-50%);
							}
							
							&:first-child{
								margin-left:0;
							}
							
							&:last-child{
								padding-right:0;
								&:after{
									display:none;
								}
							}
						}
					}
				}
			}
		}
		
		.news_grid{
			.news_item{
				margin-bottom:20px;
				width:100%;
				
				.item_content{
					padding:10px 15px 20px 15px;
					background:#fff;
					position:relative;
					
					&:after{
						content:"";
						position:absolute;
						width:50%;
						height:5px;
						background:#500B76;
						bottom:0;
						right:0;
					}					
					
					.item_title{
						a{
							color:#000;
							&:hover{
								color:#370764;
							}
						}
						font-size: 20px;
						margin-bottom:10px;
					}
					
					.item_detail{
						color:#B1B1B1;
						span{
							display:inline-block;
							font-size:12px;
							letter-spacing:2px;
						}
						
						.item_category{
							text-transform:uppercase;
						}
						
						.item_date{
							
						}
					}
				}
				
				&.item-width2{
					.item_content{
						.item_title{
							font-size: 28px;
							margin-bottom:10px;
						}
						
						.item_detail{
							span{
								font-size:14px;
							}
						}
					}
				}
			}
		}
		
		.new_more{
			padding-top:10px;
			text-align:center;
			a{
				font-size:25px;
				background:#000;
				padding:10px 40px;
				&:hover{
					background:#370764;
					color:#fff;
				}
			}
		}
	}
	
	.product_container{
		.section_title{
			text-align:center;
			transform:translateY(-50%);
			margin-bottom:40px;
			position:relative;
			
			&:before{
				content:"";
				position:absolute;
				left:0;
				top:50%;
				width:50%;
				height:2px;
				background:#000;
			}
			
			&:after{
				content:"";
				position:absolute;
				right:0;
				top:50%;
				width:50%;
				height:2px;
				background:#000;
			}
			
			span{
				padding:5px 10%;
				display:inline-block;
				margin:0 auto;
				background:#000;
				color:#fff;
				text-transform:uppercase;
				font-size:25px;
				letter-spacing:1px;
				position:relative;
				z-index:999;
			}
		}
			
		.product_item{
			position:relative;
			margin-bottom:15px;
			
			.product_content{
				border:1px dashed #eee;
				position:relative;
				
				.overlay_link{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
				}
				
				&:hover{
					.product_image{
						figure img {
							-webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
						.logo_overlay{
							opacity:1;
						}
					}
					
					.product_detail{
						background:#370764;
						.product_name{
							color:#fff;
						}
					}
				}
				
				.product_image{
					padding:10px;				
					overflow:hidden;
					position:relative;
					
					figure img {
						-webkit-transform: scale(1);
						transform: scale(1);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
					}
					.logo_overlay{
						opacity:0;
						position:absolute;
						top:0;
						left:0;
						padding:10%;
						width:100%;
						height:100%;
						background:rgba(55, 7, 100, 0.75);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
						
						&:before{
							content:"";
							position:absolute;
							width:29px;
							height:29px;
							background:url(../img/home/bg_logo_overlay_left.png) no-repeat;
							top:20px;
							left:20px;
						}
						
						&:after{
							content:"";
							position:absolute;
							width:29px;
							height:29px;
							background:url(../img/home/bg_logo_overlay_right.png) no-repeat;
							bottom:20px;
							right:20px;
						}
					}
				}
				
				.product_detail{
					text-align:center;
					border-top:1px dashed #eee;
					padding: 10px 20px;
					transition: .3s ease-in-out;
					.product_name{
						font-size: 20px;
						transition: .3s ease-in-out;
					}
					.product_series{
						font-size: 13px;
						color:#999;
						transition: .3s ease-in-out;
					}
				}
			}
		}
		
		.more_link{
			padding:40px 0;
			text-align:center;
			a{
				padding:10px 40px;
				font-size:25px;
				text-transform: uppercase;
			}
		}
	}
	
	.team_container{
		background:#000;
		
		
		.section_title{
			width:40%;
			background:#000;
			position:relative;
			font-size:50px;
			color:#fff;
			text-transform:uppercase;
			padding:0 10px;
			transform:translateY(-25%);
			
			span{
				position:relative;
				z-index:999;
			}
			
			&:before{
				content:"";
				position:absolute;
				width:100%;
				height:50%;
				top:0;
				left:0;
				background:#500B76;
			}
		}
		
		.team_content{
			padding:40px 0 0 0;
			
			.slick-prev, .slick-next{
				z-index:999;
				width:40px;
				height:40px;
				&:before{
					font-size:40px;
					color:#fff;
				}
			}
			
			.slick-prev{
				left:25px;
			}
			
			.slick-next{
				right:25px;
			}
			
			.slick-slide{
				opacity:0.2;
			}
			
			.slick-active{
				opacity:1!important;
			}
			
			.team_item{
				padding:0;
				position:relative;
				
				&:hover{
					.team_image{
						figure img {
							-webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					}
				}
				
				.team_image{
					overflow:hidden;
					figure img {
						-webkit-transform: scale(1);
						transform: scale(1);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
					}
				}
				
				.team_name{
					font-size:35px;
					color:#fff;
					letter-spacing:1px;
					position:relative;
					padding-top:10px;
					line-height:110%;
					transform:translateY(-55%);
					margin-left:10px;
					
					&:before{
						content:"";
						position:absolute;
						top:0;
						left:0;
						width:60px;
						height:5px;
						background:#fff;
					}
				}
				
				.overlay_link{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
				}
			}	
		}
		
		.more_link{
			padding:20px 0 40px;
			text-align:center;
			a{
				padding:10px 40px;
				font-size:25px;
				text-transform: uppercase;
				background:#999;
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	
}

@media (min-width: 992px) {
	.page-template-template-home{
		.news_container{
			.news_grid{
				.news_item{
					width: 193px;
					margin-bottom:10px;
				}
				.item-width2 { width: 396px; }
			}	
		}
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: 1200px) {
	.page-template-template-home{
		.news_container{
			.news_grid{
				.news_item{
					width: 243px;
					margin-bottom:10px;
				}
				.item-width2 { width: 496px; }
			}
		}
	}	
}

@media (min-width: @screen-md-min) {
	.page-template-template-home{
		.banner_container{
			.banner_content{
				.slick-next{
					right:35px;
				}
				
				.slick-prev{
					left:35px;
				}
				
				.slick-next, .slick-prev{
					width:29px;
					height:53px;
					transform:translateY(-150%);
				}
				
				.slick-dots{
					bottom:15%;
				}
			
				.banner_item{
					top: -49%!important;			
					.banner_text{
						position:absolute;
						width:70%;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						color:#fff;
						
						.banner_content_type{
							display: block;
							left: -10px;
							position: absolute;
							top: 100%;
							transform: rotate(-90deg);
							transform-origin: left top 0;
							z-index: 800;
							text-transform:uppercase;
							padding:0 10px;
						}
						
						.banner_content_text{
							//position:relative;
							padding-left:15%;
							
							&:before{
								content:"";
								position:absolute;
								top:0;
								left:0;
								width:1px;
								height:85%;
								background:#fff;
							}
							
							.text_title{
								h2{
									font-size:70px;
									padding-bottom:60px;
									margin-bottom:60px;
								}
							}
							
							.text_content{
								font-size:20px;
							}
						}
					}
				}
			}
		}
		
		.news_container{
			.news_header{
				display:table;
				width:100%;
				
				.news_title{
					padding-bottom:0;
					h2{
						padding-left:135px;
						&:before{
							width:125px;
						}
					}
				}
				
				.news_category_wrapper{
					float:none;
					display:table-cell;
					vertical-align:middle;
					
					.news_category{
						float:right;
					}
				}
			}
			
			.news_grid{
				.news_item{
					&.item-width2{
						.item_content{
							&:after{
								left:0;
							}
						}
					}
				}
			}
		}
		
		.product_container{
			.home_product_container{
				margin:0 -15px;
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: 1440px) {
	.page-template-template-home{
		.news_container{
			.news_grid{
				.news_item{
					width: 337px;
					margin-bottom:10px;
				}
				.item-width2 { width: 686px; }
			}
		}
	}	
}

@media (min-width: @screen-lg-min) {
	
}

//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================


@media (min-width: @screen-xl-min) {

}