//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.page-template-template-home{
	.banner_container{
		background:#F5F5F5;
		.banner_content{
			height: 100%;
			margin: 0 auto;
			max-width: initial;
			padding: 0;
			position: relative;
			width: 100%;
			
			.slick-list {
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
				width: 100%;
				overflow:hidden;
			}
			
			.slick-track {
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
			}
			
			.slick-next{
				right:15px;
				background:url(../img/home/btn_slider_next.png) no-repeat;
			}
			
			.slick-prev{
				left:15px;
				z-index:999;
				background:url(../img/home/btn_slider_prev.png) no-repeat;
			}
			
			.slick-next, .slick-prev{
				width:23px;
				height:42px;
				background-size:contain;
				transform:translateY(-100%);
				&:before{
					content:""!important;
				}
			}
			
			.banner_item{
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				margin: 0;
				padding: 0;
				position: relative;
				top: -45%!important;
			    //transform: translateY(50%)!important;
				overflow:hidden;
				
				/*.image_wrapper{
					background-position:-9999px -9999px;
				}*/
				
				.banner_text{
					position:absolute;
					width:70%;
					//height:70%;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					//background:rgba(0,0,0,0.3);
					color:#fff;
					
					.banner_content_type{
						display: none;					
					}
					
					.banner_content_text{
						position:relative;
						//padding-left:15%;
						//border-left:1px solid #fff;
						
						/*&:before{
							display:none;
							content:"";
							position:absolute;
							top:0;
							left:0;
							width:1px;
							height:85%;
							background:#fff;
						}*/
						
						.text_title{
							h2{
								position:relative;
								font-size:40px;
								padding-bottom:40px;
								margin-bottom:40px;
								display:block;
								
								&:after{
									content:"";
									position:absolute;
									bottom:-10px;
									left:0;
									width:5%;
									min-width:100px;
									max-width:150px;
									height:8px;
									background:#fff;
								}
							}
						}
						
						.text_content{
							font-size:15px;
							//font-weight:300;
							.more_link{
								a{
									background: rgba(0, 0, 0, 0.2);
									color: #fff;
									display: inline-block;
									font-size: 15px;
									font-weight: 300;
									overflow: hidden;
									padding: 5px 35px;
									position: relative;
									text-transform: uppercase;
									
									&:before {
										box-sizing: border-box;     
										transform: translateX(100%);
										content: '';
										position: absolute;
										bottom: 0;
										left: 0;
										width: 99.5%;
										height: 2px;
										border-bottom: 2px solid transparent;
										border-left: 2px solid transparent;
									}
									
									&:after {
										box-sizing: border-box;
										transform: translateX(-100%);
										content: '';
										position: absolute;
										top: 0;
										left: 0;
										width: 99.5%;
										height: 2px;
										border-top: 2px solid transparent;
										border-right: 2px solid transparent;
									}
									
									&:hover {
										color: inherit;
										text-decoration: none;
										
										&:before {
											transition: .1s transform linear, .1s height linear .1s;
											transform: translateX(0);
											height: 100%;
											border-color: #fff;
										}
										&:after {
											transition: .1s transform linear .2s, .1s height linear .3s;
											transform: translateX(0);
											height: 100%;
											border-color: #fff;
										}
									}
								}
							}
						}
					}
				}
				
				video{
					position:absolute;
					top: -99999px;
					bottom: -99999px;
					left: -99999px;
					right: -99999px;
					margin: auto;
					min-height:100%;
					min-width:50%;
				}
			}
		}
	}
	
	.home_content{
		position:relative;
		background:#fff;
	}
	
	.news_container{
		padding:40px 0 60px 0;
		background:#F5F5F5;
		.news_item{
			
		}
	}
	
	.product_container{
		.section_title{
		
		}
		
		.feature_product{
		
		}
		
		.product_item{
			.product_image{
				.logo_overlay{
				
				}
			}
			
			.product_name{
			
			}
		}
		
		.more_link{
			a{
				
			}
		}
	}
	
	.team_container{
		.team_item{
			.team_name{
				
			}
		}
		
		.more_link{
			a{
				
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.page-template-template-home{
		
	}	
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.page-template-template-home{
		.banner_container{
			.banner_content{
				.slick-next{
					right:35px;
				}
				
				.slick-prev{
					left:35px;
				}
				
				.slick-next, .slick-prev{
					width:29px;
					height:53px;
					transform:translateY(-150%);
				}
			
				.banner_item{
					top: -49%!important;			
					.banner_text{
						position:absolute;
						width:70%;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						color:#fff;
						
						.banner_content_type{
							display: block;
							left: -10px;
							position: absolute;
							top: 100%;
							transform: rotate(-90deg);
							transform-origin: left top 0;
							z-index: 800;
							text-transform:uppercase;
							padding:0 10px;
						}
						
						.banner_content_text{
							//position:relative;
							padding-left:15%;
							
							&:before{
								content:"";
								position:absolute;
								top:0;
								left:0;
								width:1px;
								height:85%;
								background:#fff;
							}
							
							.text_title{
								h2{
									font-size:70px;
									padding-bottom:60px;
									margin-bottom:60px;
								}
							}
							
							.text_content{
								font-size:20px;
							}
						}
					}
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.page-template-template-home{
		
	}	
}

//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-xl-min) {
	.page-template-template-home{
		
	}	
}