//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
.page-template-template-team-listing{
	.team_container{
		padding-top:20px;
		padding-bottom:30px;
		.region_container{
			//padding-bottom:30px;
			
			&:last-child{
				padding-bottom:0;
			}
			
			h3{
				margin:10px 0 40px;
				display:block;
				text-align:center;
				position: relative;
				text-transform: uppercase;
				
				&:after{
					border-bottom: thin solid #000;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					top: 50%;
					width: 100%;
				}
				
				span{
					display:inline-block;
					padding:0 1em;
					background:#fff;
					position:relative;
					z-index:2;
				}
			}
			
			.team_row{
				//padding-bottom:25px;
				
				&:last-child{
					padding-bottom:0;
				}
			}
			
			.team_item{
				margin-bottom:30px;
				&:hover{
					.team_image{
						background-size:auto 110%;
						a{
							background:rgba(255,255,255,0.1);
						}
					}
					
					.team_name{
						&:after{
							width:120px;
						}
					}
				}
			
				.team_image{
					background-repeat:no-repeat; 
					background-position:center; 
					background-size:auto 100%; 
					width:100%; 
					padding-bottom:100%;
					position:relative;
					transition: all 0.3s ease-in;
					a{
						position:absolute;
						width:100%;
						height:100%;
						top:0;
						left:0;
						transition: all 0.3s ease-in;
					}
				}
			
				.team_name{
					font-size:20px;
					letter-spacing:1px;
					text-align:center;
					padding-bottom:15px;
					margin-top:10px;
					text-transform:uppercase;
										
					&:after{
						content:"";
						position:absolute;
						bottom:0;
						left:50%;
						width:60px;
						height:5px;
						background:#000;
						transform:translateX(-50%);
						transition: all 0.3s ease-in;
					}
					
					a{
						color:#000;
					}
				}
			}
		}
	}
}

.single-team-member{
	.team_content_section{
		padding-bottom:30px;
		
		.team_slider_container{
			position:relative;
			
			.team_slider{
				height: 100%;
				margin: 0 auto;
				max-width: initial;
				padding: 0;
				position: relative;
				width: 100%;
				
				.slick-list {
					height: 100%;
					margin: 0;
					padding: 0;
					position: relative;
					width: 100%;
					overflow:hidden;
				}
				
				.slick-track {
					height: 100%;
					margin: 0;
					padding: 0;
					position: relative;
				}

				.slick-dots{
					//bottom:25px;
				}
				
				.slick-prev, .slick-next{
					background:rgba(255,255,255,0.7);
					height: auto;
					padding: 7px 0;
					text-align: center;
					width: 40px;
					z-index: 999;				
					&:before{
						color:#000;
						font-family:FontAwesome;
						font-size:30px;
					}
				}
				
				.slick-prev{
					left:0px;
					&:before{
						content:"\f053";
					}
				}
				
				.slick-next{
					right:0px;
					&:before{
						content:"\f054";
					}
				}
				
				.slider_item{
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 100%;
					margin: 0;
					padding: 0;
					position: relative;
					top: -46%!important;
					overflow:hidden;
					
					.banner_text{
						position:absolute;
						width:70%;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						color:#fff;
						
						.banner_content_text{
							//position:relative;
							padding-left:15%;
							
							/*&:before{
								content:"";
								position:absolute;
								top:0;
								left:0;
								width:1px;
								height:85%;
								background:#fff;
							}*/
							
							.text_title{
								h2{
									position:relative;
									font-size:40px;
									padding-bottom:40px;
									margin-bottom:40px;
									display:block;
									
									&:after{
										content:"";
										position:absolute;
										bottom:-10px;
										left:0;
										width:5%;
										min-width:100px;
										max-width:150px;
										height:8px;
										background:#fff;
									}
								}
							}
							
							.text_content{
								font-size:20px;
							}
						}
					}
				}
			}
			
			.overlay_text{
				position:absolute;
				width:70%;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				color:#fff;
				
				.banner_content_type{
					display: none;					
				}
				
				.banner_content_text{
					position:relative;
					
					.text_title{
						h2{
							position:relative;
							font-size:40px;
							padding-bottom:40px;
							margin-bottom:40px;
							display:block;
							
							&:after{
								content:"";
								position:absolute;
								bottom:-10px;
								left:0;
								width:5%;
								min-width:100px;
								max-width:150px;
								height:8px;
								background:#fff;
							}
						}
					}
					
					.text_content{
						font-size:15px;
						.more_link{
							
						}
					}
				}
			}
			
			.scroll_down{
				position:absolute;
				left:50%;
				bottom:10%;
				transform:translateX(-50%);
				a{
					font-size:20px;
					color:#fff;
					text-transform:uppercase;
					text-align:center;
					display:inline-block;
					span{
						display:block;
					}
				}
			}
		}
		
		.team_member_content{
			.member_header{
				margin:40px 0;
				.member_name{
					h2{
						display:inline-block;
						text-transform:uppercase;
					}
				}
				.team_connect{
					span{
						display:inline-block;
						font-size:15px;
					}
					ul{
						padding:0;
						display:inline-block;
						margin:0;
						li{
							list-style:none;
							display:inline-block;
							margin-left:10px;
							a{
								color:#000;
								display:inline-block;
								font-size:30px;	
							}
						}
					}
				}
			}
			
			.bio_content{
				margin-bottom:20px;
				
				h4{
					position:relative;
					padding-bottom:20px;
					margin-bottom:20px;
					letter-spacing:1px;
					
					&:after{
						content:"";
						position:absolute;
						bottom:0;
						left:0;
						background:#000;
						width:40px;
						height:3px;
					}
				}
				
				.bio_detail{
					font-size: 15px; 
					letter-spacing:1px;
					
					span{
						display:inline-block;	
					}
					
					.col_title{
						width:35%;
						min-width:150px;
					}
					
					.col_content{
						color:#555;
					}
				}
				
				&:last-child{
					h4{
						color:#B20000;
						&:after{
							background:#B20000;
						}
					}
				}
			}
		}
	}
	
	.section_header{
		h3{
			margin:10px 0 40px;
			display:block;
			text-align:center;
			position: relative;
			text-transform: uppercase;
			
			&:after{
				border-bottom: thin solid #000;
				content: "";
				display: block;
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
			}
			
			span{
				display:inline-block;
				padding:0 1em;
				background:#fff;
				position:relative;
				z-index:2;
			}
		}
	}
	
	.related_topic{
		background:#f8f8f8;
		padding:20px 0 60px;
		
		.section_header{
			h3{
				span{
					background:#f8f8f8!important;
				}
			}
		}
		
		.related_topic_slider{
			.slick-prev, .slick-next{
				background:rgba(255,255,255,0.7);
				height: auto;
				padding: 7px 0;
				text-align: center;
				width: 40px;
				z-index: 999;
				transform: translateY(-100%);
				
				&:before{
					color:#000;
					font-family:FontAwesome;
					font-size:30px;
				}
			}
			
			.slick-prev{
				left:10px;
				&:before{
					content:"\f053";
				}
			}
			
			.slick-next{
				right:10px;
				&:before{
					content:"\f054";
				}
			}
			
			.related_topic_item{
				text-align:center;
				margin:10px;
				.topic_feature_img{
					margin-bottom:10px;
				}
				
				.related_topic_title{
					position:relative;
					padding-bottom:15px;
					margin-bottom:20px;
					&:after{
						content:"";
						position:absolute;
						bottom:0;
						width:60px;
						height:5px;
						background:#000;
						left:50%;
						transform:translateX(-50%);
					}
				}
			}
		}
	}
	
	.related_product{
		padding:20px 0 60px;
		
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.single-team-member{
		.team_content_section{
			.team_slider_container{
				.team_slider{
					.slider_item{
						top: -50%!important;
					}
				}
				
				.overlay_text{
					.banner_content_text{
						.text_title{
							h2{
								position:relative;
								font-size:70px;
								padding-bottom:40px;
								margin-bottom:40px;
								display:block;
							}
						}
						
						.text_content{
							font-size:30px;
						}
					}
				}
			}
			.team_member_content{
				.member_header{
					display:table;
					width:100%;
					.member_name{
						display:table-cell;
						vertical-align:middle;
						h2{
							display:inline-block;
							margin:0;
						}
					}
					.team_connect{
						display:table-cell;
						text-align:right;
						vertical-align:middle;
					}
				}
			}
			
			.bio_content{
				&:first-child{
					padding-left:0;
				}
				&:last-child{
					padding-right:0;
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	
}

//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================


@media (min-width: @screen-xl-min) {

}