//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.main{
	//margin-top: 94px;
	padding:0!important;
	float:none!important;
	font-family: 'Lato', sans-serif;
}

.noPadding{
	padding:0!important;
}

.img-responsive{
	width:100%;
	max-width:auto;
}

a{
	&:hover, &:focus{
		text-decoration:none;
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}

//===============================================================================
//===============================================================================
// Extra Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-xl-min) {

}